server:
  port: 8080

spring:
  application:
    name: customer
  datasource:
    username: user
    url: jdbc:postgresql://localhost:5432/customer
    password: pass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
