spring:
  application:
    name: eureka-server
server:
  port: 8764
eureka:
  client:
    fetch-registry: false
    register-with-eureka: false
management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans