server:
  port: 8081

spring:
  application:
    name: fraud
  datasource:
    username: user
    url: jdbc:postgresql://localhost:5432/fraud
    password: pass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
